<h1>@ViewData["Title"]</h1>
<body style="background-color:mintcream; text-align:center;">
    <header>



        <h1>About Us....</h1>
    </header>
    <hr>
    <footer>
        <p>
            Jawaharlal Nehru Technological University Kakinada (JNTUK) was initially incepted with the name “The College of Engineering – Vizagapatnam” in 1946. The university grew out of that college. Spread over a sprawling campus of 110 acres in port city of Kakinada, the college became a constituent unit of JNTU Hyderabad in 1972.
            <br>
            <a href="yskbabu.eee@jntukucen.ac.in">Newyorkuniversity.com</a>
        </p>
    </footer>




</body>
