@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to University of JNTUK</h1>
    <img src="https://www.bing.com/images/search?view=detailV2&ccid=jKyqz%2f1l&id=1C88B5046CF7AAE2C07E92461E09644E6B89F691&thid=OIP.jKyqz_1lyyFU_TUEy9zV8QHaEc&mediaurl=https%3a%2f%2fwww.jntufastupdates.com%2fwp-content%2fuploads%2f2019%2f04%2fjntu-kakinada.jpg&exph=300&expw=500&q=Welcome+to+university+of+JNTUK&simid=608031326398718817&FORM=IRPRST&ck=58944EDEF26956F1283AE4830A6B4ECA&selectedIndex=1" />
    
